/.DS_Store
/Example/Pods
/Example/KoalaTransitions.xcworkspace/xcuserdata/nicholastrienens.xcuserdatad/UserInterfaceState.xcuserstate
/Example/KoalaTransitions.xcworkspace/xcuserdata
/Example/build
/Example/fastlane/report.xml
